

<html lang='en'>
<head>
  <%- include('./partials/_header')%>
  <title>urlSpeeedDial</title>


</head>

<body><li><%=shortURL%></li><li><%=longURL%></li></body>
  <form method="POST" action="/urls/<%=shortURL%>">
    <input type="text" name = "newURL" placeholder="<%=longURL%>" size="100"/>
     <input type="submit" value="Update" />

  </form>


</body>

</html>
